<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="assets/img/logo.svg" />
      </a>
    </div>
  </div>
</nav>

<div class="content-pane" ng-class="{toggle: offScreen}">
  <header class="header">
    <span class="offscreen-toggle visible-xs" ng-click="toggleOffScreen()">
      <a><i class="fa fa-bars"></i></a>
    </span>
  </header>
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Users <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Another menu</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div ui-view></div>
    </div>
  </div>
  </div>
</div>